body, ul, li, a {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}
header{
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
}
nav{
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin: 0px 0px 20px;
}

nav ul{
    list-style-type: none;
    display: flex;

}

nav ul li{
    margin-right: 20px;
}
nav ul li:last-child{
    margin-right: 0;

}

nav ul li a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

section{
    padding: 40px;
}

.escola{
    background-image: url("../img/img1.jpg");
    background-size: cover;
    background-position: center;
    opacity: 1;
    color: #333;
    text-align: center;
}

.escola-content{
    max-width: 600px;
    margin: 0 auto;
}
.escola.h1{
    font-size: 36px;
    margin-bottom: 20px;
    color: #fff;
   text-shadow: 1px 1px 1px rgba(10,10,10);
}
.escola a{
    background-color: #333;
    color: #fff;
    border-radius: 10px;
}

.escola p{
    font-size: 18px;
    margin-bottom: 30px;
    color: rgba(250,249,249);
    text-shadow: 1px 1px 1px rgba(10,10,10);
}

.btn-aprenda{
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.btn-aprenda:hover{
    background-color: #555;
}

.cursos{
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
}
.cursos h2{
    font-size: 24px;
    margin-bottom: 40px;
}
.cursos-cad{
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    text-align: left;
    transition: transorm 0.3s;
}
.curso-card p{
    color: #333;

}

.curso-card:hover{
    transform: translateY(-5px);
}

.curso-card img{
    max-width: 50%;
    height: auto;
    border-radius: 5px;
}

.curso-card h3,p{
    font-size: 16px;
    margin-bottom: 20px;
    color: #333;
}
.about{
    max-width: 960px;
    margin: 0 auto;
}
.about p{
    color: #333;
}
.contato{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 60px 0;
}

.contato h2{
    font-size: 24px;
    margin-bottom: 30px;
}

.contato p, span{
    font-size: 18px;
    margin-bottom: 40px;

}

footer{
    background-color: #333;
    color: #ccc;
    text-align: center;
    padding: 20px 0px;
}
.depoimento{
    background-color: #333;
}

.depoimento img{
    display: block;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
    max-width: 30%;
    font-weight: auto;
}

.depoimento h2, h3, p{
    color: #fff;
    text-align: center;
}